tknz_addr=localhost:8080

client_id=local
authorization_endpoint=http://localhost:8080/oidc/authorize
token_endpoint=http://localhost:8080/oidc/token

# Output from `openssl pkey -in <ecdsa_p-256.pem>`
private_key="-----BEGIN PRIVATE KEY-----
<base64 encoded, PKCS#8 formatted, EC P-256 private key>
-----END PRIVATE KEY-----"
