---
BasedOnStyle:  LLVM
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  PadOperators: true
ColumnLimit: 0
IndentWidth: 4
TabWidth: 4
UseTab: ForContinuationAndIndentation
