---
import '@styles/main.css';
---

<!doctype html>
<html class="bg-white sm:bg-gray-50 dark:bg-gray-900">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<slot />
	</body>
</html>
